{
    "type": "daily",
    "schedule": [
        {
            "time": "09:16:00",
            "dose": 100
        },
        {
            "time": "17:05:30",
            "dose": 120
        }
    ]
}