{
    "sensors": {
        "soil": {
            "module": "df_robot_temp_moist_ec",
            "class": "DFRobotRS485SoilTemperatureHumidityECSensor",
            "kwargs": {
                "device_id": 1,
                "tbr": 10
            }
        }
    },
    "actuators": {
        "water_pump": {
            "calibration": {
                "slope": 0.02,
                "offset": 1.5
            },
            "coil_number": 0,
            "relay_address": 2
        }
    }
}