{
    "sensors": {
        "moisture": {
            "module": "stemma",
            "class": "MultiplexedStemma",
            "kwargs": {
                "multiplexer_address": 112,
                "multiplexer_port": 5,
                "address": 54,
                "tbr": 10
            }
        }
    },
    "actuators": {
        "water_pump": {
            "calibration": {
                "slope": 0.02,
                "offset": 1.5
            },
            "coil_number": 0,
            "relay_address": 7
        }
    }
}