adafruit-circuitpython-sht4x>=1.0.27
adafruit-circuitpython-as7341>=1.2.27
adafruit-circuitpython-tca9548a>=0.8.6
adafruit-circuitpython-seesaw>=1.18.2
anyio>=4.13
fastapi>=0.136
influxdb3-python>=0.18
numpy>=2.4
pandas>=3.0
pydantic>=2.13.3
pymodbus>=3.6.0
uvicorn[standard]>=0.44